<a href="https://colab.research.google.com/github/yogesh3singh/Last/blob/master/PythonBasic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#       Introduction
**python basics**

#Integers and Floats (Decimal Number)

In [1]:
a=10
b=20
print(a+b, a-b, a*b, b/a)

30 -10 200 2.0

In [2]:
a=20.5
b=10.0
print(a+b, a-b, a*b, a/b)

30.5 10.5 205.0 2.05

In [3]:
a=2.5
print(type(a))

<class 'float'>

#Strings

In [4]:
a='Banana'
b='Shake'
c=a+b
print(c)

BananaShake

In [5]:
a='Banana'
b=' Shake'  # If u want to give space between the strings
c=a+b
print(c)

Banana Shake

In [7]:
c=a+' '+b  # it is also used to give space between strings
print(c)

Banana  Shake

In [8]:
print(a[-1])  # It is used to access the last letter of string. This is called indexing

a

In [9]:
# SubString
print(c[2:5])

nan

#Lists   

1.   **to create a list**
2.   **use [  ] to create list**
3.    **A list can hold any data type**
4. **Example : Your mother told you to bring fruits**
                   *   Apple
                   *   Milk

In [10]:
a=['Banana', 'Milk', 'Carrot']
print(a)
print(len(a))

['Banana', 'Milk', 'Carrot']
3

In [11]:
print(a[2])  # Indexing

Carrot

In [12]:
print(a[1:3])  # It is called slicing i.e. extracting a sub-list from a list

['Milk', 'Carrot']

In [14]:
a[2]='Tomato'  # replacing Carrot with tomato
print(a)

['Banana', 'Milk', 'Tomato']

In [15]:
b=['Apple', 'Milk']
c=a+b #  Concatenating
print(c)

['Banana', 'Milk', 'Tomato', 'Apple', 'Milk']

In [16]:
d=c+["Mango"]  # Apend
print(d)

['Banana', 'Milk', 'Tomato', 'Apple', 'Milk', 'Mango']

In [17]:
a=[1,2,3,"Apple"]
b=[2,4,4,"Banana",9]
print(a+b)  #Concatination
print(a[2])  #Identifying
a[2]="Rat"   #Modifying
print(a)

[1, 2, 3, 'Apple', 2, 4, 4, 'Banana', 9]
3
[1, 2, 'Rat', 'Apple']

#Dictionary

1.   **used when quantity is also added with list**
2.   **use {   }   to create list**
3. **Example : Your mother told you to bring fruits and their quantity also**
                   *   Apple   1kg
                   *   Milk    2lit

In [18]:
a={'Banana':12, 'Milk':'1 litre', 'Apple':' 1kg'} # a key-value pair
print(a)
print(len(a))

{'Banana': 12, 'Milk': '1 litre', 'Apple': ' 1kg'}
3

In [19]:
print(a['Apple']) # print(a[2]) will give error i.e. keyerror  this is Identification

 1kg

In [22]:
a['Banana']=24 # Modification
print(a)

{'Banana': 24, 'Milk': '1 litre', 'Apple': ' 1kg'}

In [23]:
a["Carrot"]="2 kg" # Append
print(a)

{'Banana': 24, 'Milk': '1 litre', 'Apple': ' 1kg', 'Carrot': '2 kg'}

In [24]:
print(a.keys())
print(a.values())

dict_keys(['Banana', 'Milk', 'Apple', 'Carrot'])
dict_values([24, '1 litre', ' 1kg', '2 kg'])

#Conditionals
**if elif else**

In [25]:
i=4
if i>0:
  print("Positive")
elif i<0:
  print("Negative")
else:
  print("Zero")

Positive

### Add 5 banana in your list

In [29]:
a={'Banana':12, 'Milk':'1 litre', 'Apple':' 1kg'} 
if 'Banana' in a:
  a['Banana']+=5
else:
  a['Banana']=5
print(a)

{'Banana': 17, 'Milk': '1 litre', 'Apple': ' 1kg'}

#Loops

## for Loop

In [30]:
for i in range(5):
  print(i)

0
1
2
3
4

print all items in list along with their quantities

In [31]:
for key in a:
  print(key, '-', a[key])

Banana - 17
Milk - 1 litre
Apple -  1kg

In [34]:
i=1
for k in range(5):
  i+=1
  print(i)

2
3
4
5
6

#While Loop

In [41]:
#List all integers  starting from zero such that their square is less than 20
i=0
sqr=0
while(sqr<20):
  print(i)
  i=i+1
  sqr=sqr+i*i

0
1
2
3